body{
	background-color: #232323;
}

.square{
	width: 30%;
	background-color: purple;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
}

#container{
	max-width: 600px;
	margin: 0 auto;
}

h1{
	color: white;
	margin: 0 auto;
	text-align: center;
}

#message{
	color: black;
	text-align: center;
	font-size: 20px;
	margin: 0 auto;
}

#stripe{
	height: 30px;
	background-color: #fefefe;
	text-align: center;
}